
@media (min-width: 990px) {

    .header-img {
        width: auto;
        height: 52.14px;
        position: absolute;
        top: 15px;
        right: 220px;
        left: 50px;
    }

    .header {
        width: 100%;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 40px 0 0;

        position: fixed;
        z-index: 1;
        background-color: #f9f4f0;
    }



    .menu-header {
        font-size: 14px;
        width: auto;
        min-height: 57px;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-right: 20px;
    }
}


.menu-header-elements {
    width: 110px;
    height: 38px;
    padding: 0;
    text-align: center;
    color: var(--h1-h2-h4-color);
    font-weight: 600;
    flex-wrap: wrap;
}

#menu-header-elements-button-border {
    border: 2px solid var(--);
    border-radius: 6px;
    padding: 7px;
    margin-bottom: 8px;
}

#menu-header-elements-button-border:hover {
    color: #eb6d2f;
    background-color: var(--main-color);
    transition: all 1s;
}

.menu-header-elements:hover:nth-child(-n + 5) {
    color: var(--main-color);
    border-bottom: 0.5px solid var(--main-color);
    height: 40px;
}




