
.contacts-block {
display: flex;
}

.contact-big {
    display: block;
    margin-top: 40px;
    color: rgb(rgb(177, 82, 10), green, blue);

}
.contacts-form {
    display: inline;
    background-color: white;
    border: white;
    border-radius: 10px;
    margin-left: 40px;
}
.contacts-form-name {
    display: block;
    height: 40px;
    width: 400px;
    margin-top: 20px;
    background-color: rgb(252, 223, 181);
    border: white;
    border-radius: 10px;   
}

.contacts-form-number {
    display: block;
    height: 40px;
    width: 400px;
    margin-top: 20px;
    background-color: rgb(252, 223, 181);
    border: white;
    border-radius: 10px;  
}

.contacts-form-e-mail {
    display: block;
    height: 40px;
    width: 400px;
    margin-top: 20px;
    background-color: rgb(252, 223, 181);
    border: white;
    border-radius: 10px;  
}

.contacts-form-message {
    display: block;
    height: 300px;
    width: 400px;
    margin-top: 20px;
    background-color: rgb(252, 223, 181);
    border: white;
    border-radius: 10px; 
}

.contacts-form-button {
    height: 40px;
    width: 400px;
    display: block;
    margin-top: 20px;
    background-color: rgb(248, 147, 4);
    border: white;
    border-radius: 10px;
}

.contacts-adress {
    display: inline;
}

