:root {
    --main-color: #f9f4f0;
    --accent-color: #5a3733;
    --highlight-color: #eb6d2f;
    --text-color:;
}


/*Page background*/
.body {
    background-color: var(--main-color);
}

.header-navigation {
    display: flex;
    justify-content: space-around;
}

/* Button in head */
.header_button, .header_button_buynow {
    color: var(--accent-color);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

/* Border of Buy now button in header */
.header_button_buynow {
    border-width: 2px;
    border-radius: 8px;
    border-color: var(--highlight-color);
    border-style: solid;
}


/*word HONEYBEE*/
.bigword {
    color: var(--accent-color);
    font-family: 'Signika Negative', sans-serif;
}

/*100% organic i services */
.headtoname {
    color: var(--highlight-color)!important;
    font-family: 'Open Sans', sans-serif;
}

/* big button Buy Now under HONEYBEE */
.button_buy_now_big {
    background-color: var(--highlight-color)!important;
    border-width: 2px;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*what we do*/
.whatwedo {
    color: var(--accent-color);
    font-family: Signika Negative,sans-serif;
}

/*names in carousel*/
.text_carousel-head {
    font-size: 25px;
    line-height: 1.4;
    font-family: Signika Negative,sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: var(--accent-color);
    text-transform: none;
}

/*  learn more in carousel */
.yellow_learn_more {
    color: #ffd832;
}

/*text in carousel*/
.text_carousel {
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #939393;
    text-transform: none;
}


/*lists maket*/
ul{
    list-style: none;
}
/*H3*/
h3{
    font-size: inherit;
    font-family: Open Sans,sans-serif;
    
}
/*.honey-video{
    width= 1506px;
    height= 567px;
    frameborder= 0;
}*/
