:root {
    --main-color: #f9f4f0;
    --accent-color: #5a3733;
    --highlight-color: #eb6d2f;
    --text-color-carousel: #939393;
}

/* {
    margin: 0;
    padding: 0;
}*/


/*Page background*/
.body {
    background-color: var(--main-color);
    margin:25%;    
}

/*lists maket*/
ul{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
/*H3*/
h3{
    font-size: inherit;
    font-family: Open Sans,sans-serif;
    
}
/*.honey-video{
    width= 1506px;
    height= 567px;
    frameborder= 0;
}*/
