.header {
    background-color: #f9f4f0;
}

.header_button, .header_button_buynow {
    color: #5a3733;
}

.header_button_buynow {
    border-width: 2px;
    border-radius: 8px;
    border-color: #eb6d2f;
    border-style: solid;
}

.bigword {
    color: #5a3733;
}

.headtoname {
    color: #eb6d2f!important;
}

.button_buy_now_big {
    background-color: #eb6d2f!important;
    border-width: 2px;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.wwd {
    color: #5a3733;
}

.textca-head {
    font-size: 25px;
    line-height: 1.4;
    font-family: Signika Negative,sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #5a3733;
    text-transform: none;
}

.yellow_learn_more {
    color: #ffd832;
}

.textca {
    font-size: 16px;
    line-height: 1.7;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #939393;
    text-transform: none;
}