.block-list-carousel{
    margin: inherit;
    padding: 120px 0px 120px 0px;

}
.block-list-carousel-border{
    display: flex;
    flex-direction: row;
    margin: 0 -5px;
    
}
.block-carousel{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1 1 auto;
    margin: 0 5px;
}

.small-title{
    color: #eb6d2f !important;
    font-size: 16px !important;
    text-align: left;
}
.block-title{
    color: #5a3733;
    font-size: 25px;
    text-align: inherit;
    font-weight:700;
    font-family: Signika Negative,sans-serif;
    
}
.describe-text{
    color:inherit;
    font-size: 16px;
    text-align: inherit;
}
   
}
.carousel-image{
    border-image-source: 10px;
    align-self: center;
    size-adjust: inherit;
    border-color: #f9f4f0;
    max-width: 100px !important;
}
.carousel-title{
    font-size: 25px;
    text-align: center;
    color:#5a3733;
    font-weight:700 !important;
    font-family: Signika Negative !important,sans-serif;
}
.text_carousel{
    color:#5a3733;
    font-size: 16px;
    text-align: center;
}
button{
   background-color: #eb6d2f;
   color: #fff;
   border: none;
   text-align: center;
   font-size: 15px;
   border-radius: 5px;
   margin-top:inherit;
   box-shadow: #5a3733;
   width: 100%;
   height: 100%;
 
  
}
.carousel-vulyk{
    border: 1px solid #fff;
    background-color: #fff;
    text-align: center;
    image-orientation:inherit;
    border-radius: 2%;
    margin: 0 5px;
    padding: 20px 10px;
    max-width:572px;
    max-height: 472px;
   
}
.carousel-honey-drop{
     border: 1px solid #fff;
    background-color: #fff;
    text-align: center;
    image-orientation:inherit;
    border-radius: 2%;
    margin: 0 5px;
    padding: 20px 10px;
    max-width:572px;
    max-height: 472px;
}
.carousel-honey-wildflower{
    border: 1px solid #fff;
    background-color: #fff;
    text-align: center;
    image-orientation:inherit;
    border-radius: 2%;
    margin: 0 5px;
    padding: 20px 10px;
    max-width:572px;
    max-height: 472px;
}
.carousel-citrus-blossom{
    border: 1px solid #fff;
    background-color: #fff;
    text-align: center;
    image-orientation:inherit;
    border-radius: 2%;
    margin: 0 5px;
    padding: 20px 10px;
    max-width:572px;
    max-height: 472px;
}
