
.block-list-carousel-border{
    display: flex;
    flex-direction: row;
    /*max-width:572px;
    max-height: 472px;*/
}
.block-carousel{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.small-title{
    color: #eb6d2f !important;
    font-size: 16px !important;
    text-align: left;
}
.block-title{
    color: #5a3733;
    font-size: 25px;
    text-align: inherit;
    font-weight:700;
    font-family: Signika Negative,sans-serif;
    
}
.describe-text{
    color:inherit;
    font-size: 16px;
    text-align: inherit;
}
   
}
.carousel-image{
    border-image-source: 10px;
    align-self: center;
    size-adjust: inherit;
    border-color: #f9f4f0;
    max-width: 100px !important;
}
.carousel-title{
    font-size: 25px;
    text-align: center;
    color:#5a3733;
    font-weight:700 !important;
    font-family: Signika Negative !important,sans-serif;
}
.text_carousel{
    color:#5a3733;
    font-size: 16px;
    text-align: center;
}
/*.carousel-button{
   background-color: #eb6d2f;
   color: #fff;
   font-size: 16px;
   text-align: center;
   border: none;
   display: inline-block;
   border-radius: 2px;
   padding: 20px;  
   width: 150px;
   transition: 0s;
   cursor: pointer;
   margin: 5px;
  
}*/
img{
    max-width: 50px;
   
}
.carousel-vulyk{
    border: 1px solid #fff;
    background-color: #fff;
    text-align: center;
    image-orientation:inherit;
    border-radius: 2%;
    padding: 20px 50px;
   
}
.carousel-honey-drop{
     border: 1px solid #fff;
    background-color: #fff;
    text-align: center;
    image-orientation:inherit;
    border-radius: 2%;
    padding: 20px 10px 10px 20px;
    margin: 10px;
}
.carousel-honey-wildflower{
    border: 1px solid #fff;
    background-color: #fff;
    text-align: center;
    image-orientation:inherit;
    border-radius: 2%;
    padding: 20px, 10px, 10px, 20px;
    margin: 10px;
}
.carousel-citrus-blossom{
    border: 1px solid #fff;
    background-color: #fff;
    text-align: center;
    image-orientation:inherit;
    border-radius: 2%;
    padding: 20px, 10px, 10px, 20px;
    margin: 10px;
}
