.consumer-reviews-block {
    background-image: url(../img/background-consumer-reviews-block.png);
    width: 100%;
    height: 100%;
}

.consumer-reviews-places {
    position: relative;
    display: block;
    width: 100%;
    margin: auto; 
}


@media screen and (min-width: 680px) {
.consumer-reviews-places {
    position: relative;
    display: flex; 
}
}
.consumer {
   margin: 20px;
   background-image: url(../img/background-for-consumers.png);
}



.testimonials {
    color: yellow;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
}

.consumer-reviews-heading {
    color: white;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    font-size: 50px;
    margin: auto;
}

.review-window-heading{
    color: white;
    text-align: center;
    font: inherit;
    margin: auto;
}

.review-name {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 25px;
    color: yellow;
    margin-top: 20px;
}
.review-text {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
}


.review-window-date {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}


@media screen and (min-width: 600px) {
.review-window-date {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
}

.consumers-photo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 150px !important;
    height: 150px !important;
}

.short-info-block {
    background-image: url(../img/background-short-info-block.png);
    display: block;
    margin-top: 0px;
    margin-left: 0px;
} 



@media screen and (min-width: 680px) {
.short-info-block {
    background-image: url(../img/background-short-info-block.png);
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
} 
}
.short-info-element {
    display: block;
    margin: auto;  
}

.short-info-heading {
    text-align: center;
    font-family: Signika Negative,sans-serif;
    font-size: 50px;
    color: #eb6d2f;
    margin: auto;
}

.brown-line {
    color: rgb(107, 41, 8);
    width: 50px;
    border-bottom: 4px #5a3733 solid;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.short-info-text {
    text-align: center;
    font: inherit;
    font-size: 16px;
    font-weight: bold;
    color: #5a3733;
    margin: auto;
    margin-bottom: 10px;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0,0.8);
}

.dot {
    position: center;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
}


.active, .dot:hover {
    background-color: #717171;
}

.consumer {
    -webkit-animation-name:consumer;
    -webkit-animation-duration: 1.5s;
    animation-name: consumer;
    animation-duration: 1.5s;
}

@-webkit-keyframes consumer {
    from{opacity: .4;}
    to{opacity: 1;}
}
@keyframes consumer {
    from{opacity: .4;}
    to{opacity: 1;}
}