/*what we do*/
.whatwedo {
    color: var(--accent-color);
    font-family: Signika Negative,sans-serif;
}

/*names in carousel*/
.text_carousel-head {
    font-size: 25px;
    line-height: 1.4;
    font-family: Signika Negative,sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: var(--accent-color);
}

/*  learn more in carousel */
.learn_more {
    color: #ffd832;
}

/*text in carousel*/
.text_carousel {
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: var(--text-color-carousel);
}
